<!DOCTYPE html>
<html>
<head>
  <title>Status Monitor Clinics</title>
  <script src="https://unpkg.com/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div id="app">
    <h1>Clinic Status Basel</h1>
    <div class="clinic-input">
    <div class="mb-3">     
        <label for="waitingtime" class="form-label">Wartezeit für normaler Serivice, in Wochen</label>
        <input id="waitingtime" type="text" v-model="newData.waitingTimeInWeeks" placeholder="e.g 2" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label" for="flats">Plattenservice möglich innerhalb x Stunden</label>
        <select class="form-control" id="flats" v-model="newData.flatsService">
            <option value="sofort">sofort</option>
            <option value="24h">24 Stunden</option>
            <option value="48h">48 Stunden</option>
        </select>
    </div>
<div class="mb-3">
    <label class="form-label" for="availability">Team Verfügbarkeit</label>
    <select class="form-control" id="availability" v-model="newData.teamState">
        <option value="100">100%</option>
        <option value="75">75%</option>
        <option value="50">50%</option>
        <option value="25">25%</option>
        <option value="0">0%</option>
    </select>
</div>
<button class="btn btn-primary mb-3" @click="saveData">Speichern</button>
</div>
    <h2>Letzten 5 Einträge</h2>
    <table class="status-table">
    <tr>
        <th style="width:10%">Letztes Update</th>
        <th style="width:10%">Ampel</th>
        <th>CLinic</th>
        <th>Wartezeit</th>
        <th>Plattenservice</th>
        <th>Team Kapazität</th>
        <th>Kommentar</th>
    </tr>
    <tr v-for="location in this.locations">
        <td>{{ getDate(location.day) }}</td>
        <td><span class="bulb" :class="calculateLight(location)"></span></td>
        <td>{{ location.name }}</td>
        <td>{{ location.waitingTimeInWeeks }} Wochen</td>
        <td>{{ location.flatsService }}</td>
        <td>{{ location.teamState }}%</td>
        <td>{{ location.comment }}</td>
    </tr>
    </table>
</div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        newData: {
            day: moment(),
            name: 'Basel',
            waitingTimeInWeeks: '',
            flatsService: '',
            teamState: '',
        },
        locations: {},
      },
      mounted() {
        this.getStatus();
      },
      methods: {
        getStatus: async function() {
        fetch('https://veloplus-d6ee.restdb.io/rest/clinic-status?q={"name":"Basel"}&max=5', {
        headers: {
            'Content-Type': 'application/json',
            'x-apikey': '633af289626b9c747864a96a'
            }
        })
        .then(response => response.json())
        .then((data) => { this.locations = data; setTimeout(this.getStatus, 60000);});
      },
        saveData: async function() {
        fetch('https://veloplus-d6ee.restdb.io/rest/clinic-status', {
            method: "post",
            body: JSON.stringify({ ...this.newData}),
            headers: {
                'Content-Type': 'application/json',
                'x-apikey': '633af289626b9c747864a96a'
                }
        })
        .then(response => response.json())
        .then((data) => { this.getStatus() });
      },
      getDate: function(datetime) {
        return moment(datetime, "YYYY-MM-DDThh:mm:ss.ssssZ").format("DD.MM.YYYY");
      },
        calculateLight: function(location) {
            if(!location){
                return 'green';
            }
            if(location.waitingTimeInWeeks > 2) {
                return 'red';
            }
            if(location.flatsService != 'sofort' && location.teamState < 100) {
                return 'orange';
            }
            return 'green';
        },
      }
    })
  </script>
</body>
</html>
<style>
    body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  padding: 0 5%;
}
.status-table {
  width: 100%;
  text-align: left;
  padding: 40px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.bulb.red {
  background-color: red;
}
.bulb.green {
  background-color: green;
}
.bulb.orange {
  background-color: orange;
}
.bulb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.isOld {
  background: lightgrey;
}
.clinic-input {
    text-align: left;
}
    </style>