<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Status Monitor Clinics</title>
  <script src="https://unpkg.com/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/microtip/microtip.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link href="./main.css" rel="stylesheet">
  </head>
</head>
<body>
<div id="app">
  <h1>Clinic Status {{ getLocation() }}</h1>
  <form id="clinic-input" @submit.prevent @submit="saveData">
    <label for="waitingtime">Wartezeit für normaler Serivice</label>
    <div style="display:flex">
      <input id="waitingtime" type="text" v-model="newData.waitingTime" placeholder="e.g 2" required />
      <select id="waitingTimeUnit" v-model="newData.waitingTimeUnit" required />
          <option value="" selected disabled>Tage / Wochen</option>
          <option value="Tage">Tag(e)</option>
          <option value="Wochen">Woche(n)</option>
      </select>
    </div>
    <label for="freeToday">Heute freie Termine</label>
    <select id="freeToday" v-model="newData.freeToday" required>
        <option value="" selected disabled>Bitte wählen...</option>
        <option value="ja">Ja</option>
        <option value="nein">Nein</option>
    </select>
    <label for="comment">Kommentar (Ferien, Absenzen, Krankheiten, etc.)</label>
    <input id="comment" type="text" v-model="newData.comment" placeholder="Pascal fällt heute aus" />
    <button type="submit" :disabled="loading">Speichern</button>
  </form>
<div class="message">
    <div class="spin" v-if="loading"></div>
    {{ message }}
  </div>
    <h2>Letzte 5 Einträge</h2>
    <table>
    <tr>
        <th style="width:10%">Datum</th>
        <th class="tooltip" style="width:10%" aria-label="rot: Wartezeit >= 2 Wochen&#xa;orange: Wartezeit < 2 Wochen, Termine Heute: nein&#xa;grün: alles andere" data-microtip-position="right" role="tooltip">Ampel <i class="ri-information-line"></i></th>
        <th>Clinic</th>
        <th>Heute freie Termine</th>
        <th>Wartezeit</th>
        <th style="width:33%">Kommentar  (Ferien, Absenzen, Krankheiten, etc.)</th>
    </tr>
    <tr v-for="location in this.locations">
        <td>{{ getDate(location.day) }}</td>
        <td><span class="bulb" :class="calculateLight(location)"></span></td>
        <td>{{ location.name }}</td>
        <td>{{ location.freeToday }}</td>
        <td>{{ location.waitingTime }} {{ location.waitingTimeUnit }}</td>
        <td>{{ location.comment }}</td>
    </tr>
    </table>
</div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        location: '',
        newData: {
            day: moment(),
            name: '',
            waitingTime: '',
            freeToday: '',
            comment: '',
            waitingTimeUnit: '',
        },
        locations: {},
        loading: false,
        message: '',
      },
      mounted() {
        this.location = this.getLocation();
        this.newData.name = this.location;
        this.getStatus();
      },
      methods: {
        getStatus: async function() {
        fetch('https://veloplus-d6ee.restdb.io/rest/clinic-status?q={"name":"' +  this.location + '"}&max=5&h={"$orderby":{"day":-1}}', {
        headers: {
            'Content-Type': 'application/json',
            'x-apikey': '633af289626b9c747864a96a'
            }
        })
        .then(response => response.json())
        .then((data) => { this.locations = data});
      },
        saveData: async function() {
        this.loading = true;
        fetch('https://veloplus-d6ee.restdb.io/rest/clinic-status', {
            method: "post",
            body: JSON.stringify({ ...this.newData}),
            headers: {
                'Content-Type': 'application/json',
                'x-apikey': '633af289626b9c747864a96a'
                }
        })
        .then(response => response.json())
        .then((data) => { 
            if(data.status == 400) {
              this.message = data.message;
            } else {
              if (data.list && data.list.statuscode && (data.list.statuscode != '200' && data.list.statuscode != '201' )){
                  this.message = data.list.message;
              } else {
                  this.message = "Erfolgreich erfasst!";
                  this.newData = {
                    day: moment(),
                    name: this.getLocation(),
                    waitingTime: '',
                    freeToday: '',
                    comment: '',
                    waitingTimeUnit: '',
                }
              }
            }
            setTimeout(this.resetMessage, 10000);
            setTimeout(this.getStatus, 2000);
            this.loading = false;
        }).catch(error => console.log(error.message));
      },
     getLocation: function() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        switch(vars["location"]) {
          case "123456":
            return "Oerlikon";
          case "654321":
            return "Wetzikon";
          case "987654":
            return "Zürich HB";
          default:
            return ""; 
        }
     },
      resetMessage: function() {
          this.message = '';
      },
      getDate: function(datetime) {
        return moment(datetime, "YYYY-MM-DDThh:mm:ss.ssssZ").format("DD.MM.YYYY");
      },
        calculateLight: function(location) {
            
            if(!location){
                return 'green';
            }
            if(location.waitingTime > 2 && location.waitingTimeUnit == "Wochen") {
                return 'red';
            }
            if(location.freeToday != 'ja') {
                return 'orange';
            }
            return 'green';
        },
      }
    })
  </script>
</body>
</html>